body *{
    font-family: 'NewsGothicBT';
}


@font-face {
    font-family: 'NewsGothicBT';
    src: url('../fonts/Raleway-Regular.eot');
    src: local('?'), url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/NewsGothicBT.ttf') format('truetype'), url('../fonts/Raleway-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face {
  font-family: 'Raleway-Regular';
  src: url(./fonts/Raleway-Regular.ttf);
}*/

/**
    Base Color : #512b80;;
*/
:root {
  --primary_color: #512b80;
}


.x-toolbar-dark {
    /*background-color:#204377;*/
    background-color:var(--primary_color);

    background-image: none;
    .x-innerhtml {
        color: #ffffff;
        text-shadow: 0px 1px rgba(255,255,255,.3);
    }

}
.x-toolbar-dark .x-button.x-button-pressing{
    background: transparent;
}
.x-toolbar-dark .x-title{
    font-weight: normal;
}

.x-form .x-scroll-container {
    background-color: #ffffff;
}
.x-label .x-layout-box-item .x-stretched{
    border-width: 0px 0px 1px 0px !important;
    border-style: solid !important;
    border-color: rgb(194, 37, 37) !important;
}

.x-toolbar-dark.x-docked-top{
    border-bottom-color: transparent !important;
}

/***
Data View for Grid
***/
.x-dataview-item{
    width: 50%;
}
.x-dataview-container{
    /*text-align: center;*/
}
@media (min-width:767px){
 .x-dataview-item{
    width: 33.33%;
 }   
}

/****
Select field
****/
.x-field-select .x-component-outer::after {
    -webkit-mask-image:url('../images/Down.png') !important;
}


.mettingHistoryToolBar{
    background-color:var(--primary_color);
}

.signIn {
    background-color : #ffffff;
}
.loginCLS{
    background-color : #f7f7f7;
}
.signUp {
    background-color : #ffffff;
}
.entrepreneur {
    background-color : #f7f7f7;
}
.meetingdetails{
    background-color : #ffffff;
}
.enterpreneur_action_items{
    background-color : #ffffff;
}
.mentor_pending_metting_detail{
    background-color: #d3ddff;
}
.timing{
    background-color : #ffffff;
}
.mentor_action_items{
    background-color : #ffffff;
}
.forgotpassword{
    background-color : #f7f7f7;
}
.meetinghistory
.mentor_cancel_meeting
.reschedule_meeting
.mentorprofile{
    background-color : #f7f7f7;
}
.menteereviewform{
    background-color : #ffffff;
}
.mentorreviewform{
    background-color : #ffffff;
}
.waitscreen{
    background-color : #ffffff;
}

.login-top{
    margin-top:10px;
}
.x-button-label{
    font-family : 'NewsGothicBT' !important;
}
.signin-btn-cls {
    margin-top:20px;
    background-image : none;
    /*background-color : #66cc66;*/
    background-color : #512b80;
    color : #fff;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 0;
       

}
.waitfor-acknowledgement-btn-cls {
    margin-top:20px;
    background-image : none;
    /*background-color : #66cc66;*/
    background-color : transparent;
    color : #512b80;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 0;
       

}
.grey-btn-cls {
    margin-top:20px;
    background-image : none;
    /*background-color : #66cc66;*/
    background-color : #595959;
    color : #fff;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 0;
       

}
.press-btn-cls{
    background-color : #ffffff !important;
    border : 1px solid #512b80;
    color : #512b80 !important;

}
.press-grey_btn-cls{
    background-color : #ffffff !important;
    border : 1px solid #595959;
    color : #595959 !important;

}

.signin-btn-cls .x-button-label,
.forgotpassword-btn-cls .x-button-label,
.grey-btn-cls .x-button-label{
   font-weight: normal;
   
}
.accesssubadmin-btn-cls{
    margin-top:10px;
    margin-bottom: -10px;
    background-image : none;
    background-color : #204377;
    color : #fff;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    border-radius: 0;

}
.help-ok-btn-cls{
    margin-top: 10px;
    background-image: none;
    background-color: var(--primary_color);
    color: #fff;
    padding: 10px;
    border-radius: 0;

}
.signin-register-btn-cls{
    margin-top:20px;
    background-image : none;
    background-color : #ffffff;
    color : #66cc66;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom : 10px;
    padding: 15px;
    border-radius: 0;
    border-color : #66cc66;
}
.x-toolbar-dark .x-button, .x-toolbar-dark .x-button.x-button-back::after, .x-toolbar-dark .x-button.x-button-forward::after, .x-toolbar .x-toolbar-dark{
    background-color: transparent !important;
    background-image: none;
    border: 0;
}
.signout-btn-cls{
    margin-top:20px;
    background-image : none;
    background-color:#66cc66;
    color : #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom : 10px;
    padding: 15px;
    border-radius: 0;
    border-color : #66cc66;
}

.forgotpassword-btn-cls{

    margin-top:10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom : 10px;
    color : #888888;
}

.radio-btn-cls{
    background-color:transparent;
}
.x-input-radio:checked + .x-field-mask::after {
    background: rgb(242, 242, 242);
}
.x-input-el:checked + .x-field-mask::after{
    color: rgb(242, 242, 242);
}

.textFieldDisableCLS{
    color : #E0DFDF;
    /*border: 1px solid #66cc66;*/
    border: 1px solid #dadada !important;

}
.inputActiveDisableCLS{
    background: #ffffff;
    background-image: url(../images/edit.png);
    background-position: 98% 50%;
    background-size: 1.2em;
    background-repeat: no-repeat;
    padding-right: 2em;
}


.x-form-fieldset .x-form-fieldset-inner{
    /*border: 1px solid #66cc66;*/
    /*border: 1px solid #cacaca;*/
    border: 1px solid #dadada;
     border-radius: 0 !important; 
}


.x-input-checkbox:checked  + .x-field-mask:after  {
    background-image:url('../images/checkbox_checked.png');
    background-size: contain;
    background-size: contain;
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    top: 12px;

}
.x-input-checkbox  + .x-field-mask:after {
    background-image:url('../images/checkbox_unchecked.png');
    background-size: contain;
    background-size: contain;
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    top: 12px;

}
.x-item-disabled .x-input-checkbox:checked  + .x-field-mask:after{
    background-image:url('../images/disabled_checkbox_checked.png');
}
.x-item-disabled .x-input-checkbox  + .x-field-mask:after{
    background-image:url('../images/disabled_checkbox_unchecked.png');
}

.x-input-radio:checked  + .x-field-mask:after  {
    background-image:url('../images/radio_checked_circle.png');
    /*background-image:url('../images/radio_checked_tick.png');*/
    background-size: contain;
    background-size: contain;
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    top: 12px;

}
.x-input-radio  + .x-field-mask:after {
    background-image:url('../images/radio_unchecked.png');
    background-size: contain;
    background-size: contain;
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    top: 12px;

}
.x-item-disabled .x-input-radio:checked  + .x-field-mask:after{
    background-image:url('../images/radio_checked_circle.png');
    /*background-image:url('../images/radio_checked_tick.png');*/
}
.x-item-disabled .x-input-radio  + .x-field-mask:after{
    background-image:url('../images/radio_unchecked.png');
}


.textFieldMentorReviewFormCLS .x-form-text, .username .x-form-field {
    background: url('../images/checkbox_unchecked.png') no-repeat left;
    background-size: contain;
    padding-left: 25px;
}



.inputCLS{
    background-image: url('../images/edit.png');
    background-position: 98% 50%;
    background-size: 1.2em;
    background-repeat: no-repeat;
    padding-right: 2em;
}

.decline-btn-cls{
    margin-top:20px;
    background-image : none;
    background-color :red;
    color : #fff;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    border-radius: 0;
}
.statisfactionCLS.x-field-radio .x-field-mask{

    width: 35px;

}

/*.x-field .x-field-input{
          min-width: 2.5em !important;
}*/
.x-field .x-field-input{
    min-width: 2em !important;
}

.x-toolbar.my-titlebar-review_form .x-innerhtml {
    /*font-size: 0.7em;*/
}

#idLabelSelectMenteeEnterpreneurScreen , 
/*#idLabelSelectMeetingTypeEnterpreneurScreen  ,*/ 
#idLabelSelectMainTopicEnterpreneurScreen , 
#idLabelSelectMeetingPlaceEnterpreneurScreen{
    margin: .2em .5em .0em .5em;
}

#idLabelSelectMeetingTypeEnterpreneurScreen.x-form-fieldset,
#idLabelSelectMeetingPlaceEnterpreneurScreen.x-form-fieldset,
#idLabelSelectMainTopicEnterpreneurScreen.x-form-fieldset{
    margin: 0px;
}

.x-form-fieldset-title{
    margin: 1em 0.2em 0.3em;
    font-size: 16px;
    font-weight: normal !important;
}
/* Carousel Introduction Screen*/
.x-carousel-indicator-dark span.x-carousel-indicator-active{
    background-color: red;
}
.x-carousel-indicator-dark span{

    background-color: lighten(#5599FF,10);
}

/*** Profile***/
.photo-preview-cls {
    width: 5em;
    height: 5em;
    background-image: url("../images/person.png");
    background-position: center;
    background-size: cover;
    margin-right: 0.2em;
    border-radius: 50%;
    border: 2px solid #ffffff;
}
.team-photo-preview-cls {
    width: 5em;
    height: 5em;
    background-image: url("../images/group_avatar.png");
    background-position: center;
    background-size: cover;
    margin-right: 0.2em;
    border-radius: 50%;
    border: 2px solid #ffffff;
}
.userProfileLabelCLS{
    font-weight: bold;
    font-size:14px;
    -webkit-box-align: center;
    /*color: #204377;*/
    color: var(--primary_color);
    padding-left: .5em;
    background : white;
    padding-top: 5px;
}
.profileAddInterestCLS{
    color : var(--primary_color);
    font-size: larger;
    font-weight: bold;
}
.profileAddInterestDetailCLS{
    color : #999999;
    font-size: smaller;
}
#idSkillsProfile .x-inner{
    display: inline !important;

}
.profileSkillsInActiveCLS{
    font-size: smaller;
    background: white;
    border: 1px solid #d4d4d4;
    margin-top : 5px;
    margin-right : 5px;
    color : #666666;

}
.profileSkillsActiveCLS{
    font-size: smaller;
    background: var(--primary_color);
    border: 1px solid #c6c6c6;
    color : white;
    margin-top : 5px;
    margin-right : 5px;
}
.saveProileIconCLS{
    background-size: 80%;
    background-repeat: no-repeat;
    background-image:url('../images/save.png') ;
}
.userInputTextProfileCLS{
    border: 1px solid #dadada;
    box-shadow: 0px 0px 7.5px 0px #dadada;
}
.userInputTextProfileCLS .x-field{
        min-height: 1.8em;
}
.profileInputCLS{
    background-image: url('../images/edit.png');
    background-position: 98% 50%;
    background-size: 1.2em;
    background-repeat: no-repeat;
    padding-right: 2em !important;
    padding: 0 .4em;
    min-height: 1.8em;
}
.profileSelectFieldInputCLS{
    padding-right: 2em;
    padding: 0 .4em;
    min-height: 1.8em;
}

.profileInputCLS.x-input-el{
    padding: 0 .4em;
}
.profileSelectFieldInputCLS.x-input-el{
     padding: 0 .4em;
}



/*****End ****/

/*********Team Deteil************/
.teamDetail_photo-preview-cls {
    width: 4em;
    height: 4em;
    background-image: url("../images/person.png");
    background-position: center;
    background-size: cover;
    margin-right: 0.2em;
    border-radius: 50%;
    /*border: 2px solid #ffffff;*/
}

/********End ***************/

/* Ratting */
.x-rating{min-height:25px;}
.x-rating .x-component-outer{position: relative; padding:0.6em;min-height: 40px;}
.x-rating .starContainer, .x-rating .starFakeContainer{position:absolute; top:0px;left:0px; width:100%; height:100%; }
.x-rating .starFakeContainer{z-index:10;}
.x-rating .starContainer{display:-webkit-box; -webkit-box-align:center;-webkit-box-pack:center;}
.x-rating .starContainer .center, .x-rating .starContainer .left, .x-rating .starContainer .right{-webkit-box-flex:1}
.x-rating .star{border:0px !important;padding:0px !important;margin:0px 0px 0px -12.5px !important;position:absolute; left:16.66%; top:5px; -webkit-mask:url(star.png) left center no-repeat; -webkit-mask-size:25px 25px; background-color:#ff0000; width:25px; height:25px; opacity:.2; -webkit-transform: scale(1,1);}
.x-rating .star2{left:33.33%;}
.x-rating .star3{left:49.99%;}
.x-rating .star4{left:66.66%;}
.x-rating .star5{left:83.33%;}
.x-rating .star.active{-webkit-transform: scale(1,1); opacity:1;background-image:-webkit-linear-gradient(top, #ff9600,#ff9600 3%,#ff9600);}
.rattingCLS{
    background: transparent;
}

#idSatisfactionAdviceAndFeedbackMenteeReviewForm  div.x-form-label{
    background-color:rgba(0,0,0,0);
}
#idSatisfactionReleveantProblemMenteeReviewForm  div.x-form-label{
    background-color:rgba(0,0,0,0);
}
#idSatisfactionOverallSubjectMenteeReviewForm  div.x-form-label{
    background-color:rgba(0,0,0,0);
}
#idSatisfactionClearAndUnderstandableMenteeReviewForm  div.x-form-label{
    background-color:rgba(0,0,0,0);
}
#idSatisfactionWithMeeting  div.x-form-label{
    background-color:rgba(0,0,0,0);
}

/*** Bottom Tab bar*/
.x-tabbar-light {
    border-top-color: #E5E5E5 !important;
    border-bottom-color: #E5E5E5 !important;
    background-image: none;
    background-color: #E5E5E5 !important;
    background-image: -webkit-linear-gradient(top, #E5E5E5,#E5E5E5 3%,#E5E5E5) !important;
    background-image: -moz-linear-gradient(top, #1676b9,#11598c 3%,#0b3c5e)!important;
    background-image: -o-linear-gradient(top, #1676b9,#11598c 3%,#0b3c5e) !important;
    background-image: -ms-linear-gradient(top, #1676b9,#11598c 3%,#0b3c5e) !important;
}

/*** Top TTab bar ***/
.x-tabbar-dark {
    border-top-color: #E5E5E5 !important;
    border-bottom-color: #E5E5E5 !important;
    background-image: none;
    background-color: #512b80 !important;
    /*background-image: -webkit-linear-gradient(top, #E5E5E5,#E5E5E5 3%,#E5E5E5) !important;
    background-image: -moz-linear-gradient(top, #1676b9,#11598c 3%,#0b3c5e)!important;
    background-image: -o-linear-gradient(top, #1676b9,#11598c 3%,#0b3c5e) !important;
    background-image: -ms-linear-gradient(top, #1676b9,#11598c 3%,#0b3c5e) !important;*/
}

.x-tabbar.x-docked-bottom .x-tab .x-button-label{
    letter-spacing: 0px; /*letter-spacing: 1px;*/
    font-weight: 100;
    font: -webkit-small-control;
}

.x-toolbar .x-button .x-button-icon:before {
    font-size: 30px ! important;

}
.x-tabbar.x-docked-bottom .x-tab .x-button-icon {
    background-size: 100%;
    background-repeat: no-repeat;

}

.x-tab.x-tab-normal.x-iconalign-left.x-tab-icon.x-layout-box-item.x-stretched .x-button-icon.mettingHistoryIconMentorBottomTabView{
    background-image:url('../images/metting_history_inactive.png') ;
}

.x-tab.x-tab-normal.x-iconalign-left.x-tab-icon.x-layout-box-item.x-stretched.x-tab-active .x-button-icon.mettingHistoryIconMentorBottomTabView{
    background-image:url('../images/metting_history_active.png') ;
}

.instantMeetingIconMentorBottomTabView{
    background-image:url('../images/lightening_gray.png') ;
}

.x-tab.x-tab-normal.x-iconalign-left.x-tab-icon.x-layout-box-item.x-stretched.x-tab-active .x-button-icon.instantMeetingIconMentorBottomTabView{
    background-image:url('../images/lightening_red.png') ;
}

.x-tab.x-tab-normal.x-iconalign-left.x-tab-icon.x-layout-box-item.x-stretched .x-button-icon.pendingInvitesIconMentorBottomTabView{
    background-image:url('../images/pending_invites_inactive.png') ;
}
.x-tab.x-tab-normal.x-iconalign-left.x-tab-icon.x-layout-box-item.x-stretched.x-tab-active .x-button-icon.pendingInvitesIconMentorBottomTabView{
    background-image:url('../images/pending_invites_active.png') ;
}



.x-tab.x-tab-normal.x-iconalign-left.x-tab-icon.x-layout-box-item.x-stretched .x-button-icon.myProfileIconMentorBottomTabView{
    background-image:url('../images/my_profile_inactive.png') ;
}
.x-tab.x-tab-normal.x-iconalign-left.x-tab-icon.x-layout-box-item.x-stretched.x-tab-active .x-button-icon.myProfileIconMentorBottomTabView{
    background-image:url('../images/my_profile_active.png') ;
}


.x-tab.x-tab-normal.x-iconalign-left.x-tab-icon.x-layout-box-item.x-stretched .x-button-icon.backButtonNotesBottomTabView{
    background-image:url('../images/back.png') ;
}

/*Active Tab Icon Color*/
.x-tabbar.x-docked-bottom .x-tab-active{
    color: #39619C;
}

/*InActive Tab Icon Color*/
.x-tabbar-light .x-tab{
    color: #000000;
}
.x-tabbar-light.x-docked-bottom .x-tab {
    text-shadow : none !important;
}
.x-tabbar-light.x-docked-bottom .x-tab-active .x-button-icon:before {
    color: #38609B !important;
}

.x-tabbar-light.x-docked-bottom .x-tab-active {
    background-image: none  !important;
    background-color: transparent  !important;
    background-image: none  !important;
    background-image: none  !important;
    background-image: none !important;
    background-image: none  !important;
    text-shadow: none  !important;
    -webkit-box-shadow: none  !important;
    -moz-box-shadow:none  !important;
    box-shadow: none  !important;
}



/** Mentor Metting History */
.addMettingMentorMettingHistory{
    background-size: 80%;
    background-repeat: no-repeat;
    background-image:url('../images/add_icon.png') ;
}
.addIcon{
    background-size: 80%;
    background-repeat: no-repeat;
    background-image:url('../images/add_plus.png') ;
}
.goToNotesIcon{
    background-size: 80%;
    background-repeat: no-repeat;
    background-image:url('../images/add_icon.png') ;
}
.searchFieldCls {
    margin : 10px !important;

}
.x-field-search .x-field-input .x-form-field{
    margin-left : 0 !important;
    padding-left : 2em;
}
.refreshIcon{
    background-size: 80%;
    background-repeat: no-repeat;
    background-image:url('../images/refresh.png') ;
}
.helpIcon{
    background-size: 80%;
    background-repeat: no-repeat;
    background-image:url('../images/question_circle.png') ;
}
.loginHelpCls{
    background: none;
    border: none;
    text-align: -webkit-right;
    font-size: 22px;
    width: 40px;
    float: right;
    padding: 0px 10px 0px 0px;
}
.loginHelpIcon{
    background-size: 80%;
    background-repeat: no-repeat;
    background-image:url('../images/question_circle_blue.png') ;
}

.btnViewDetail{
    background-color : #ffffff !important;
    border : 1px solid var(--primary_color);
    color : #595959 !important;
    padding-left:10px;
    padding-right:10px;
    padding-top:3px;
    padding-bottom:3px;
    border-radius: 100px;
}
.x-list-normal .x-list-item.x-list-item-tpl{
    border: 0px;
}


/*** End ****/


/** Review Form **/
.reviewFormLabelCLS{
    font-weight: bold;
    font-size:14px;
    -webkit-box-align: center;
    color: var(--primary_color);
}
.btnBackGreyCLS{
    background-image:url('../images/btn_back.png') ;
    background-size: 80%;
    background-repeat: no-repeat;
}
.btnBackCLS{
    background-image:url('../images/btn_back_white.png') ;
    background-size: 80%;
    background-repeat: no-repeat;
}
/** End Review Form **/


/**Accept and Reject Respond Mentee Request **/
.textFieldDisableAcceptAndRejectMenteeRequestCLS{
    color : #f7f7f7;
    /*border: 1px solid #66cc66;*/
    /*border: 1px solid #cacaca !important;*/

}
#idIsPhoneSMSCapableAcceptRejectPendingRequest .x-component-outer{
    display: none;
}

.tick{
    /* background-image: url('../images/tick.png');
     background-color: white !important;
     border: none;
     width: 52px;
     background-repeat: no-repeat;
     background-position: center center;
     background-size: 48px;
     height: 50px;
     margin: 10px;*/
}
.cancel{
    /* background-image: url('../images/cancel.png');
     background-color: white !important;
     border: none;
     width: 52px;
     background-repeat: no-repeat;
     background-position: center center;
     background-size: 48px;
     height: 50px;
     margin: 10px;*/
}
.textFieldDateTimeAcceptAndRejectMenteeRequestCLS{
    background : white;
    color : black !important;
    /*border: 1px solid #dadada !important;*/
}
/** End **/

/***Timming Screen ****/
.startSession-btn-cls{
    margin-top:20px;
    background-image : none;
    /*background-color : #66cc66;*/
    background-color : var(--primary_color);
    color : #fff;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 0;

}

.endSession-btn-cls{
    margin-top:20px;
    background-image : none;
    /*background-color : #66cc66;*/
    background-color : #595959;
    color : #fff;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 0;

}

#endSessionEditMettingDetail.invalidDate input{
    background : #ffa49d;
}
#meetingEndTimeReviewForm.invalidDate input{
    background : #ffa49d;
}
/**END ***/


/**** Mentee Invites Screen***/
.x-tabbar-dark.x-docked-top .x-tab-active{
    color: #fff;
    border-bottom: #ffffff;
    border-style: solid;
    background-color: transparent;
    background-image: none !important;
    border-radius: 0;
    color: #ffffff;
    border-width: 0px 0px 4px 0px !important;
   

}

.x-tabbar-dark.x-docked-top .x-tab-active .x-button-label{
 font-weight: normal !important;
}

/*.x-tabbar-dark .x-tab{
    color : #7e53b3;
}*/
.x-tabbar-dark .x-tab{
    color : #a399af;
}
.x-tabbar.x-docked-top{
    padding : 0;
}
.x-tabbar.x-docked-top .x-tab{
    padding: 0.7em 0.2em;/*padding: 0.7em 0.8em;*/
    height: 2.6em;
    border-radius: 0em;
}

.x-tabbar.x-docked-top .x-tab .x-button-label{
 font-weight: normal !important;
}

.PendingInvitation /*,.Invitation1*/{
    background: #fffe86;
    margin: -12px -15px;
    padding: 12px 15px;
}

.MentorIssuedInvitation /*,.Invitation1*/{
    background: #eaaee8;
    margin: -12px -15px;
    padding: 12px 15px;
}

.strippedListing.odd{
    /*background: #f9f9f9;*/
    background: #d3ddff;
    margin: -12px -15px;
    padding: 12px 15px;
}
.strippedListing.invites{
    /*background: #f9f9f9;*/
    background: #ffffff;
    margin: -12px -15px;
    padding: 12px 15px;
}

.strippedListing.even{
     background: #d3ddff;
    margin: -12px -15px;
    padding: 12px 15px;
}

.strippedListing.odd.mentorInitiated,
.strippedListing.even.mentorInitiated{
    /*background: #eaaee8;*/
    /*background: #b3b3ff;*/
    background: #feffdd;
    margin: -12px -15px;
    padding: 12px 15px;
}

.AcceptedInvitation/*,.Invitation3,.Invitation2*/ {
    background: #96ff96;
    margin: -12px -15px;
    padding: 12px 15px;
}

.CancelledInvitation{
    background: #ffa49d;
    margin: -12px -15px;
    padding: 12px 15px;
}

.RejectedInvitation {
    background: #ffa49d;
    margin: -12px -15px;
    padding: 12px 15px;
}

.RescheduledInvitation {
    background: #9ee0ff;
    margin: -12px -15px;
    padding: 12px 15px;
}
/**End **/

/***Login****/

.userNameLoginCLS .x-form-text, .userNameLoginCLS .x-form-field {
    background: url('../images/user.png') no-repeat left;
    background-size: 20px;
    padding-left: 25px;
    /*border: 1px solid #cacaca !important;*/

}
.userNameLoginCLS .x-form-field { /* Adding more padding for Sencha Touch only */
    padding-left: 30px;
}
.userNameLoginCLS , .passwordLoginCLS, .schoolNameLoginCLS{
    border: 1px solid #cacaca !important;
    padding-left: 10px;
}


.passwordLoginCLS .x-form-text, .passwordLoginCLS .x-form-field {
    background: url('../images/password.png') no-repeat left;
    background-size: 20px;
    padding-left: 25px;
    /*border: 1px solid #cacaca !important;*/

}
.passwordLoginCLS .x-form-field { /* Adding more padding for Sencha Touch only */
    padding-left: 30px;
}

.schoolNameLoginCLS .x-form-text, .schoolNameLoginCLS .x-form-field {
    background: url('../images/school.png') no-repeat left;
    background-size: 20px;
    padding-left: 25px;
    /*border: 1px solid #cacaca !important;*/

}
.schoolNameLoginCLS .x-form-field { /* Adding more padding for Sencha Touch only */
    padding-left: 30px;
}



.signInLabelLoginCLS{
    text-align: -webkit-center;
    color : var(--primary_color);
    font-size: xx-large;
    font-weight: normal;
}
/*.profileSkillsCLS{
        display : inline !important;
}*/
/**End ***/

/*** Message Box **/
.x-msgbox-dark .x-msgbox-text{
    color: black;
    text-shadow: none;
    margin-top: 10px;

}
.x-msgbox .x-msgbox-buttons .x-layout-box .x-button{
    background-color: var(--primary_color) !important;
    background-image: none;
    border-radius: 3px;
    border-color: none;
}
.x-msgbox{
    background-color: #F7F7F7;
    border: 0.15em solid var(--primary_color)
}
.x-container.x-toolbar-dark.x-toolbar.x-stretched.x-msgbox-title{
    background-color: var(--primary_color);
    margin: -6px;

}

/***End *****/

/*** Count Down */
.stopWatchPanel{
    font-size: 43px;
    font-style: bold;
    font-size: 5em;
    text-align: center;
    margin-right: 10px;
    height: inherit !important;
}
.labeltime{
    font-size: smaller;
    /* margin-left: 22px;
     margin-right: 10px;*/
    text-align : center;
}
#seperator{
    width: 10px;
    background-color: transparent;
    margin-top: 0;
}
.timeBlock{
    font-size: 50px;
    background-color: #E7E8EA;
    border-radius: 10%;
    margin-top: 19px;
    margin-right: 5px;
    margin-left: 5px;
    width: 70px;
    text-align: center;
    padding-bottom: 7px;
}
.timeBlockEditable{
    font-size: 40px;
    background-color: #E7E8EA;
    border-radius: 10%;
    margin-top: 19px;
    margin-right: 5px;
    margin-left: 5px;
    width: 70px;
    text-align: center;
    padding-bottom: 7px;
}
.timeBlockInputCLSEditable {
    background : transparent;
}
/*** End Count Down */

.spanAsterisk{
    /*font-weight: normal;
    font-size: 27px;
    color: red;
    top: 16px;
    position: absolute;*/
    color: red;
    font-weight: bold;
}


.inputDisableCLS{
    /*color : black !important;
    background-color: #ddd;*/
    color : #b5b5b5 !important;
    background-color: #f2f2f2;
}
}
/*.inputDisableCLS input{
    color : black !important;
    background-color: #ddd;
}*/

.x-android .x-item-disabled .x-input-el{
    -webkit-text-fill-color : black !important;
}
.x-toolbar .x-button {
    margin: 6px 0em;
    padding: 0 .2em;
}
.x-msgbox .x-toolbar .x-button {
    margin: 6px 6px;
}
.x-title {
    font-size: 1.1em;
    padding: 0 0;
}

.x-field .x-field-input, .x-field .x-input-el{
    color: #000;
}
.wordWrapSpan span{
    white-space: normal;
}

.x-field-radio .x-field-mask::before{
    content:'';
    position:absolute;
    width:26px;
    height:26px;
    top:11px;
    left:auto;
    right:11px;
    background-color:transparent;
    -webkit-border-radius:26px;
    -moz-border-radius:26px;
    -ms-border-radius:26px;
    -o-border-radius:26px;
    border-radius:26px
}
.x-field-search .x-field-input:before{
    top: .5em;
}
#addEditNotePopUp div, #addEditNotePopUp textarea{
    background-color: ffffff;
   /*font-style: italic;*/
    resize: none;
}
#viewNotePopUp div, #viewNotePopUp textarea{
    /*background-color: transparent;*/
    /*font-style: italic;*/
}
.signin-btn-cls-note, .signin-btn-cls-comment{
    margin-top:20px !important;
    background-image : none !important;
    /*background-color : #66cc66;*/
    background-color : #339e70 !important;
    color : #fff !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding: 15px !important;
    border-radius: 0 !important;

}
.decline-btn-cls-note, .decline-btn-cls-comment{
    margin-top:20px !important;
    background-image : none !important;
    background-color :red !important;
    color : #fff !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding: 15px !important;
    border-radius: 0 !important;
}
.share-btn-cls-note{
    margin-top:20px !important;
    background-image : none !important;
    background-color :#4DA0C7 !important;
    color : #fff !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding: 15px !important;
    border-radius: 0 !important;
}
.noteListAddButton{
    /*padding-top: 10px;**/
    border: 0px solid #0e4b75;
    background-color: #45236d;
    color: #fff;
    /*background-color: transparent !important;*/
    background-image: none;
    border-radius: 0px;
}
.noteListAddButton.x-button-pressing{
    background-image: -webkit-linear-gradient(top, #0a3351,#0c4267 10%,#0f517e 65%,#0f5280);
}
.noteListAddButtonIcon{
    background-size: 80%;
    background-repeat: no-repeat;
    background-image:url('../images/add_plus_white.png') ;
}
.searchNotesCLS{
    background-color: #45236d;
}
.x-field-search .x-field-input:before{
    color: #fff;
}   
.searchNotesInputCLS{
     background: transparent;   
     -webkit-text-fill-color: white !important;
}
#noteListing.x-list-normal .x-list-item.x-list-item-tpl{
    border: 0px;
}

#idMentorNotes{
    /*background: #fffe86;*/
}
#idMentorNotes .x-list .x-list-item .x-list-item-body, #idMentorNotes .x-list .x-list-item.x-list-item-tpl .x-innerhtml{
    padding: 10px 5px 10px 10px;
}

.popover.clockpicker-popover.bottom.clockpicker-align-right{
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    width: 224px;
    height: 271px;
    margin-top: -110px;
    margin-left: -113.5px;
}
.popover.clockpicker-popover.bottom.clockpicker-align-right .arrow{
    display: none;
}
#idHelpTextPopupWindow *{
    font-family: sans-serif;
}
#idHelpTextPopupWindow li{
    list-style: inherit;
}
#idHelpTextPopupWindow ul{
    padding:0px 0px 0px 20px;
}
#idHelpTextPopupWindow h1 {
    color: blue;
    font-family: sans-serif;
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;

    /*
    color: blue;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    */
}
#idHelpTextPopupWindow ul {
    list-style-type: disc;
}
#idHelpTextPopupWindow ul ul{
    list-style-type: square;
}
#idHelpTextPopupWindow p{
    padding-top: 10px;
}
#idHelpTextPopupWindow b{
    font-weight: bolder;
}
textArea{
    resize: none;
}

.x-tab.x-tab-normal.x-iconalign-left.x-tab-icon.x-layout-box-item.x-stretched .x-button-icon.AddMentorIconWebviewBottomTabView{
    background-image:url('../images/my_profile_inactive.png') ;
}
.x-tab.x-tab-normal.x-iconalign-left.x-tab-icon.x-layout-box-item.x-stretched.x-tab-active .x-button-icon.AddMentorIconWebviewBottomTabView{
    background-image:url('../images/my_profile_active.png') ;
}


.x-tab.x-tab-normal.x-iconalign-left.x-tab-icon.x-layout-box-item.x-stretched .x-button-icon.RelationshipIconWebviewBottomTabView{
    background-image:url('../images/share_11.png') ;
}
.x-tab.x-tab-normal.x-iconalign-left.x-tab-icon.x-layout-box-item.x-stretched.x-tab-active .x-button-icon.RelationshipIconWebviewBottomTabView{
    background-image:url('../images/share_11.png') ;
}

.header.fixed-top.clearfix{
    display: none;
}

.toggleInstant-btn-cls{
    margin-top:20px;
    background-image : none;
    border: none;
    background-color : #b3b3b3;
    color : #fff;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
    border-radius: 100%;
    height: 50px;
    width: 50px;

}
.toggleInstant-btn-cls.selected{
    margin-top:20px;
    background-image : none;
    background-color : var(--primary_color);
    color : #fff;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0px;
    border-radius: 100%;
    height: 50px;
    width: 50px;

}
.toggleInstant-btn-cls .userIcon{
    background-image:url('../images/instant_metting_mentee.png') ;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 2.5em;
    height: 2.5em;
}
.toggleInstant-btn-cls.selected .userIcon{
    background-image:url('../images/instant_metting_mentee.png') ;
    background-size: 100%;
    background-repeat: no-repeat;
}
.toggleInstant-btn-cls .teamIcon{
    background-image:url('../images/instant_metting_mentor.png') ;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 2.5em;
    height: 2.5em;
}
.x-slider-field .x-component-outer, .x-toggle-field .x-component-outer{
    padding: 0.3em 0.3em 0.2em 0.3em;
}
.x-toggle{
    background-color: #92cf00;
    background-image: -webkit-linear-gradient(top, #6e9c00,#80b500 10%,#92cf00 65%,#94d200);
}
#idMenteeActionItemDoneOnMeetingUpdate .x-field .x-field-input,#idMenteeActionItemDoneOnMeetingUpdate .x-field .x-input-el{
    width: 0%;
}
#idMenteeActionItemComments .x-img.x-img-background:first-child, #idMentorActionItemComments .x-img.x-img-background:first-child{
    margin: 15px 0px;
}
#idMenteeActionItemComments .x-img.x-img-background, #idMentorActionItemComments .x-img.x-img-background{
    margin: 12px 0px;
}
#addEditCommentPopUp div, #addEditCommentPopUp textarea{
    /*background-color: #ffffff;*/
    font-style: italic;
    resize: none;
}
#viewCommentPopUp div, #viewCommentPopUp textarea{
    background-color: #AFEEEE;
    font-style: italic;
}
.cancelledInvite.myContent{
    background: #ff9191;
    /*margin: -12px -15px;*/
    padding: 12px 15px;
}
.blue-btn-cls{
    margin-top:20px !important;
    background-image : none !important;
    background-color :#204478 !important;
    color : #fff !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding: 15px !important;
    border-radius: 0 !important;
}
.green-btn-cls{
    margin-top:20px !important;
    background-image : none !important;
    background-color :#339e70 !important;
    color : #fff !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding: 15px !important;
    border-radius: 0 !important;
}
.yellow-btn-cls{
    margin-top:20px !important;
    background-image : none !important;
    background-color :yellow !important;
    color : #000 !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding: 15px !important;
    border-radius: 0 !important;
}
.red-btn-cls{
    margin-top:20px !important;
    background-image : none !important;
    background-color :red !important;
    color : #fff !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding: 10px !important;
    border-radius: 0 !important;
}


.press-red_btn-cls{
    background-color : #ffffff !important;
    border : 1px solid red;
    color : #595959 !important;

}
.white-btn-cls{
    margin-top:20px !important;
    background-image : none !important;
    background-color :white !important;
    color :var(--primary_color); !important;
    padding-left:20px !important;
    padding-right: 20px !important;
    border-radius: 0 !important;
    font-size: 14px;
}


.press-white_btn-cls{
    background-color : var(--primary_color) !important;
    border : 1px solid white;
    color : #ffffff !important;

}

.orange-btn-cls{
    margin-top:20px !important;
    background-image : none !important;
    background-color :orange !important;
    color : #fff !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding: 15px !important;
    border-radius: 0 !important;
}
.green-btn-cls.small{
    padding: 5px !important;
    margin: 0px !important;
}
.teammeeting.myContent{
    background: #b5fcff;
    /*margin: -12px -15px;*/
    padding: 12px 15px;
}
.showListing .remove, .showListing .block{
    display: none;
}
#idTeamListing.x-list-normal .x-list-item.x-list-item-tpl,
#viewteammembers.x-list-normal .x-list-item.x-list-item-tpl{
    border: 0px;
}


/*** Left Menu ***/
.leftMenuIconCLS{
     background-image:url('../images/left_menu_icon.png') ;
     background-size: 60%;
}
.pendingInvitesIconActiveMentorLeftMenu{
     background-image:url('../images/pending_invites_active_left_menu.png') ;
     background-size: 100%;
}
.pendingInvitesIconInActiveMentorLeftMenu{
     background-image:url('../images/pending_invites_inactive_left_menu.png') ;
     background-size: 100%;
}
.historyIconInActiveMentorLeftMenu{
     background-image:url('../images/history_inactive_left_menu.png') ;
     background-size: 100%;
}
.historyIconActiveMentorLeftMenu{
     background-image:url('../images/history_active_left_menu.png') ;
     background-size: 100%;
}
.instantIconMentorLeftMenu{
     background-image:url('../images/instant_inactive_left_menu.png') ;
     background-size: 100%;
}
.profileIconInActiveMentorLeftMenu{
     background-image:url('../images/profile_inactive_left_menu.png') ;
     background-size: 100%;
}
.profileIconActiveMentorLeftMenu{
     background-image:url('../images/profile_active_left_menu.png') ;
     background-size: 100%;
}
.logoutIconMentorLeftMenu{
     background-image:url('../images/logout_inactive_left_menu.png') ;
     background-size: 100%;
}
.leftmenu-active-btn-cls .x-button-label,
.leftmenu-inactive-btn-cls .x-button-label{
    margin-left: 1em !important;
    font-weight: normal;
    font-size: 16px;
    text-align : left;
}

.leftMenuLabelCLS{
    font-weight: normal;
    display: block;


    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    display: block;
    overflow: hidden;
}

.menuCls{
    background: #ffffff;
    padding: 0;
}


.leftmenu-inactive-btn-cls {
    /*margin-top:20px;*/
    background-image : none;
    /*background-color : #66cc66;*/
    background-color : #ffffff;
    /*color : #939393;*/
    color: :#5a5a5a;
    padding: 15px;
    border-radius: 0;
    border-width: 0px 0px 1px 0px !important;
    border-style: solid !important;
    border-color: #dadada !important;

}
.leftmenu-active-btn-cls {
    /*margin-top:20px;*/
    background-image : none;
    /*background-color : #66cc66;*/
    background-color : var(--primary_color);
    color : #ffffff;
    padding: 15px;
    border-radius: 0;
    border-width: 0px 0px 1px 0px !important;
    border-style: solid !important;
    border-color: #fafafa !important;

}

.left-menu-image-cls {
    width: 5em;
    height: 5em;
    background-size: cover;
    margin-right: 0.2em;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.x-menu .x-button{
    margin-bottom: 0px; 
}

.appLabelCls{
    font-size: 16px;
    /*color: #000000;*/
}

/***** Mentor Pending Meeting Detail *****/
.inputDisableCLSPendingMeetingDetailDisableCLS{
    color : #b5b5b5 !important;
    background-color: #f2f2f2;
}

.x-android .x-item-disabled .x-input-el.inputDisableCLSPendingMeetingDetailDisableCLS{
    -webkit-text-fill-color: #808080 !important;
}
.x-android .x-item-disabled .x-input-el.inputDisableCLS{
    -webkit-text-fill-color: #808080 !important;
}

.radioBtnPendingMeetinDetail{
    background: transparent;
}
/***** End ******/


/******Subtopics Discuss******/
.checkboxitem-cls{
    border-bottom: 1px solid #bfbfbf;
}
.checkboxitem-cls.x-field:last-child{
 border-bottom: 1px solid #bfbfbf;
}

/******END *********/


/*******Invite Mentor Tab *****/
.InviteMentorLabelCLS{
    font-weight: bold;
    font-size:14px;
    -webkit-box-align: center;
    /*color: #204377;*/
    color: var(--primary_color);
    /*padding-left: .5em;*/
    background : white;
}

/******End *********/